.introtext {
  color: #4af155;
  text-align: right;
  font-size: 3rem;
  margin-right: 14vw; /* Adjust as needed */
  margin-top: 5rem;
  margin-bottom: 1rem;
}
 
 
.background {
  overflow: hidden;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  min-height: 100vh;   /* <-- Use min-height instead of height */
  width: 100vw;
  position: relative;
  padding-top: 6rem; /* Adjust this value as needed */
}


.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem 0;
}

.image {
  width: 40%;
  margin-left: 0;
  margin-right: 2rem;
  display: block;
}

.text {
  width: 60%;
  text-align: left;
}