
@font-face {
  font-family: 'spacemono';
  src: url(/css/fonts/SpaceMono-Regular.ttf) format('truetype');
}


.introtext {
  text-align: right;
  font-size: 3rem;
  margin-right: 6vw; 
  margin-top: 10rem;
  margin-bottom: 3rem;
  font-family: 'spacemono', sans-serif;
}
 
.row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 2rem 0;
}

.image {
  width: 35rem;          /* Fixed width */
  height: 20rem;         /* Fixed height */
  object-fit: cover;     /* Ensures images fill the box without distortion */
  margin-left: 2rem;
  margin-right: 2rem;
  display: block;
  border-radius: 8px;
  border: #ffffff 4px solid;
}

.projectText {
  font-family: 'spacemono';
  font-size: 1.5rem;
  width: 40vw;          
  min-height: 8rem;
  margin-left: 4rem;
  margin-right: 2rem;
  display: flex;
  align-items: center;
}
